* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.img {
  width: 100%;
}
.container {
  position: relative;
  text-align: center;
  color: #fff;
  margin-bottom: 0;
}
.position {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}
