* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.footer {
  text-align: center;
  padding: 50px 100px 100px;
  background-color: darkgray;
  color: #000;
  margin-top: 0;
}
p a {
  text-decoration: none;
  color: #000;
}

/* .child_container {
  grid-row: 1/2;
} */
